<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link rel="stylesheet" href="animate.min.css" />
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/login-signup.css" rel="stylesheet" />

    <!-- =======================================================
    * Template Name: Scaffold
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body>
    <!-- ======= Header ======= -->

    <div class="box">
      <img src="./assets/img/hero-img.png" class="updown-animation" alt="" />
    </div>
    <div class="login-wrap">
      <form>
        <div class="login-html">
          <input
            id="tab-1"
            type="radio"
            name="tab"
            class="sign-in"
            checked
          /><label for="tab-1" class="tab">Sign In</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
            for="tab-2"
            class="tab"
            >Sign Up</label
          >
          <div class="login-form">
            <form id="signInForm">
              <div class="sign-in-htm">
                <div class="group">
                  <label for="email" class="label">Email</label>
                  <input id="email" type="email" class="input" required />
                </div>
                <div class="group">
                  <label for="password" class="label">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="input"
                    data-type="password"
                    required
                  />
                </div>
                <div class="group">
                  <input type="submit" class="button" value="Sign In" />
                </div>
              </div>
            </form>
            <form>
              <div class="sign-up-htm">
                <div class="group">
                  <label for="username" class="label">Username</label>
                  <input id="username" type="text" class="input" />
                </div>
                <div class="group">
                  <label for="email" class="label">Email Address</label>
                  <input id="email" type="text" class="input" />
                </div>
                <div class="group">
                  <label for="password" class="label">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="input"
                    data-type="password"
                  />
                </div>
                <div class="group">
                  <label for="age" class="label">Age</label>
                  <input id="age" type="number" class="input" />
                </div>
                <div class="group">
                  <label for="major" class="label">Major</label>
                  <input id="major" type="text" class="input" />
                </div>
                <div class="group">
                  <input type="radio" id="male" name="age" value="child" />
                  <label for="male">Male</label>
                  <input type="radio" id="female" name="age" value="adult" />
                  <label for="female">Female</label>
                </div>
                <div class="group">
                  <input type="submit" class="button" value="Sign Up" />
                </div>
                <br />
                <div class="foot-lnk">
                  <label for="tab-1">Already Member?</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
