<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Video | SFE-RS</title>
    <link href="assets/img/SFE-RS.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="../">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../#about">About</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../#services">Services</a>
            </li>

            <li><a class="nav-link scrollto" href="../#team">Team</a></li>

            <li><a class="nav-link scrollto" href="../#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= LandingPage Section ======= -->
    <section id="hero">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
            data-aos="fade-up"
          >
            <div>
              <h1>Start Your Journey with us!</h1>
              <h2>
                Upload a Video of you introducing yourself and wait for your
                personality result
              </h2>

              <form id="uploadForm">
                <div class="upload">
                  <input
                    type="file"
                    id="myVideo"
                    name="video"
                    accept="video/*"
                  />
                  <button type="submit" class="btn-get-started scrollto">
                    Upload video
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
          >
            <img
              src="assets/img/Skills.png"
              class="img-fluid"
              alt=""
              style="width: 550px"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End LandingPage -->

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/uploadVideo.js"></script>
  </body>
</html>
