<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Video | SFE-RS</title>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <link href="assets/img/SFE-RS.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/uploadVideo.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="../">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../#about">About</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../#services">Services</a>
            </li>

            <li><a class="nav-link scrollto" href="../#team">Team</a></li>

            <li><a class="nav-link scrollto" href="../#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= LandingPage Section ======= -->
    <section class="uploading-container" id="hero">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
            data-aos="fade-up"
          >
            <div class="uploading-partition" id="uploading-partition">
              <h1>Start Your Journey with us!</h1>
              <h2>
                Upload a Video of you introducing yourself and wait for your
                personality result
              </h2>

              <form id="uploadForm">
                <div class="upload">
                  <button type="button" class="btn-get-started scrollto">
                    Upload video
                    <input
                      type="file"
                      id="myVideo"
                      name="video"
                      accept="video/*"
                    />
                  </button>
                  <button type="submit" class="uploadBtn">Get Analysis</button>
                </div>
              </form>
            </div>

            <div class="analysis-partition" id="analysis-partition">
              <h1>Finally, traits are here!</h1>
              <h2>Feel free to try again</h2>
              <div id="radarChart"></div>
            </div>
          </div>

          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
          >
            <img
              src="assets/img/Skills.png"
              class="img-fluid"
              alt=""
              style="width: 550px"
            />
          </div>
        </div>
      </div>
    </section>

    <div class="waiting-container" id="waiting-container">
      <div class="loader"></div>
      <div class="message">Processing your video, Please wait ...</div>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <!-- End LandingPage -->

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-radar.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/uploadVideo.js"></script>
  </body>
</html>
