<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Processing | SFE RS</title>
    <link href="assets/img/SFE-RS.png" rel="icon" />

    <!-- Template Main CSS File -->
    <link href="assets/css/waiting.css" rel="stylesheet" />
  </head>
  <body>
    <div class="waiting-container">
      <div class="loader"></div>
      <div class="message">Processing your video, Please wait...</div>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </body>
</html>
